" Thanks
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b

" Emulated Plugin
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
" nerdtree more information: https://github.com/JetBrains/ideavim/wiki/NERDTree-support

let mapleader=" "

" display
set scrolloff=10
set showmode

set list = true
" enter or exit distraction free mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

" vim search settings
set nohlsearch
set incsearch
set ignorecase
set smartcase
" clear the highlighted search result
" nnoremap <Leader><CR> :nohlsearch<CR>

" project
nnoremap Q :action CloseProject<CR>

" line number
set relativenumber
set number

" Window Navigation
" screen split
map s <nop>
nnoremap sl :action SplitVertically<CR> nnoremap sj :action SplitHorizontally<CR>
nnoremap ss :action Unsplit<CR>
" TODO
nnoremap so :action MoveEditorToOppositeTabGroup<CR>

" tab move
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

" source code editor
set ideajoin
set idearefactormode=keep
vnoremap Y \"+y

" map <c-j> to down, <c-k> to up
" thanks for https://stackoverflow.com/questions/30149091/how-to-configure-in-ideavim-ctrl-n-and-ctrl-p-completion-from-vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
imap <C-j> <ESC>:action HippieCompletion<CR>a
imap <C-k> <ESC>:action HippieBackwardCompletion<CR>a

nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <Leader>=  :action ReformatCode<CR>

" diagnosis
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" file
" search files
nnoremap <Leader>f :action GotoFile<CR>
" recent files
nnoremap <c-r> :action RecentFiles<CR>
nnoremap U <c-r>
nnoremap <Leader>n :NERDTree<CR>

nnoremap gc :action GotoClass<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

" running and debug
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>